.contents__aboutus
  .contents__aboutus--title
    ART FOR ALL 
  .contents__aboutus--main
    .contents__aboutus--main--sub
      日本国内では、新型コロナ感染拡大に対する緊急事態宣言が解除されましたが、依然としてウイルス収束の兆しはみえておらず、今も展覧会や芸術祭、アートフェアなどの延期・中止やその縮小が続いています。
      現在、コロナ禍における国の文化支援やその助成に関する意見は、すでに芸術文化のさまざまな分野から挙げられ、行政へ働きかける具体的な行動が行われてきました。
      しかし、これまでに美術に携わる人々からの具体的な意思表明は、ほとんどありませんでした。この現状を受け、私たちは、美術に関わる一人一人が自らの声を表明することが大切だと考えました。
    .contents__aboutus--main--sub
      その最初の一歩として、有志が集まり、オンライン上で会議を重ね、政府へ提出するための要請書を作成しました。
      私たちは、美術の現場に寄り添うような、広く開かれた緊急支援体制の確立と、美術に携わる人々の声が、国の文化芸術政策の決定プロセスへ反映されることを求めます。
      それにより、今後、日本の美術に携わる活動環境が広く見直され、更なる美術分野の活性化が進むことを期待します。
    .contents__aboutus--main--sub
      これを実現するために、美術に関わる人々が、共に協力し声を上げることが、今必要だと強く信じています。
      つきましては、この「美術への緊急対策要請書」の趣旨に賛同して頂ける方に一人でも多く、署名をして頂きたいと思っております。
    .contents__aboutus--main--sub
      美術は、作品の作り手だけでなく、それを普及する人や鑑賞者など、多様な人々によって支えられています。
      美術を愛する全ての皆様に、ぜひご協力をいただけましたら幸いです。
