.messagebox__message
  .messagebox__message--main
    = message.content
  .messagebox__message--user
    ________
    = message.user.name
    ________
  .messagebox__message__date
    = message.created_at.strftime("%Y年%m月%d日 %H時%M分")