.contents__message--text--title
  美術への対策要請書
.contents__message--text--name
  %br 内閣総理大臣○○様
  %br 文部科学大臣○○様
  %br 文化庁長官○○様
  %br 経済再生担当大臣○○様
  %br 厚生労働大臣○○様
.contents__message--text--main
  私たちは、第二次補正予算における美術への緊急支援が明確化されていないことに危機感を抱き、本要請書を提出いたします。新型コロナウイルス感染症対策として実施される国の文化芸術支援策に私たちの意見が反映され、長期におよぶ影響への補填と今後の不測時に備えた美術分野の環境整備が行われることを求めます。
  %br /
  %br /
  %br /
  %br /
  %br /
  %br /
  %br /
  %br /
  %br よって私たちは、美術分野への緊急の経済支援および環境整備、国の文化芸術政策協議への美術分野当事者の参加拡大を求め、次の事項について強く要請いたします。

.contents__message--text--bottom
  art for all「美術への緊急対策要請」委員会
  %br 2020年7月1日